{% extends 'base.html' %}

{% block content %}
<body>
    <div style="justify-content: center; text-align: center ">
    <h1>Dodaj ćwiczenie "{{ training.name }}"</h1>
    <form method="post">
        {% csrf_token %}
        {{ exercise_form.as_p }}
        <input type="hidden" name="training_id" value="{{ training.id }}">
        <button class="custom-btn" type="submit" name="add_next">Dodaj ćwiczenie</button>
        <button class="custom-btn" type="submit" name="finish">Zakończ</button>
    </form>
    </div>
</body>
{%  endblock %}

