{% load static %}

<!DOCTYPE html>
<html lang="PL">
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>{% block title %}Training app{% endblock %}</title>
</head>

<body>
    <div style="background:  linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);">
    {% block header %}
    <header>
        <div class="change-header">
            <h1 style="color: #ddd"> Traning app</h1>
            <div>
            <a class="custom-btn" href="{% url 'home' %}">Strona główna</a>
            <a class="custom-btn" href="{% url 'password_reset' %}">Zmień hasło</a>
            <a class="custom-btn" href="{% url 'logout' %}">Wyloguj się</a>
            </div>
        </div>
    </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
    </div>
</body>

</html>

