{% extends 'base.html' %}

{% block content %}
<body>
    <div style="justify-content: center; text-align: center ">
    <h1>Lista treningów</h1>
    <table>
        <thead>
            <tr>
                <th class="tab1">Nazwa</th>
                <th class="tab1">Data i czas</th>
                <th class="tab1">Czy wykonany</th>
                <th class="tab1">Użytkownik</th>
                <th class="tab1">Kalorie</th>
                <th class="tab1">Czas trwania</th>
                <th class="tab1">Opis</th>
            </tr>
        </thead>
        <tbody>
            {% for training in trainings %}
            <tr>
                <td class="tab1"><a href="{% url 'training_exercises' training_id=training.id %}">{{ training.name }}</a></td>
                <td class="tab1">{{ training.datetime }}</td>
                <td class="tab1">{{ training.executed }}</td>
                <td class="tab1">{{ training.user }}</td>
                <td class="tab1">{{ training.all_calories }}</td>
                <td class="tab1">{{ training.duration }}</td>
                <td class="tab1">{{ training.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
{% endblock %}