{% extends 'base.html' %}

{% block content %}
<body>
    <h1>{{ training_name }} ćwiczenia treningu</h1>
    <table>
        <thead>
            <tr>
                <th class="tab1">Ćwiczenie</th>
                <th class="tab1">Powtórzenia</th>
                <th class="tab1">Ilość serii</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in training_exercises %}
            <tr>
                <td class="tab1">{{ exercise.exercise }}</td>
                <td class="tab1">{{ exercise.repetitions }}</td>
                <td class="tab1">{{ exercise.series }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}
