<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodawanie Treningu</title>
</head>
<body>
        <div style="width: 100%; margin: 0 ; display: flex; justify-content: center;background-color: #1E90FF; color: #fff; font-family: 'Verdana', Verdana;">
        <h1>Dodaj nowy trening</h1>
        </div>
        <br/>
        <br/>
    <div style="width: 100%; margin: 0; background-color: white ;display: flex; justify-content: center;text-align: center;">
    <form method="post">
        {% csrf_token %}
        <label for="Nazwa_Treningu">Nazwa Treningu:</label>
        <input type="text" id="Nazwa_Treningu" name="Nazwa_Treningu" required>
        <br/>
        <br/>
        <label for="Data_Treningu">Data Treningu:</label>
        <input type="date" id="Data_Treningu" name="Data_Treningu" required>
        <br/>
        <br/>
        <label for="Opis">Opis:</label>
        <br/>
        <textarea id="Opis" name="Opis" rows="4" cols="50"></textarea>
        <br/>
        <br/>
        <label for="CzasTreningu">Czas Treningu: </label>
        <input type="number" id="CzasTreningu" name="CzasTreningu" required>
            <label for="CzasTreningu">(MIN)</label>
        <br/>
        <br/>
        <label for="User">Użytkownik:</label>
        <select id="User" name="User">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit">Dodaj</button>
    </form>
    </div>
</body>
</html>