<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Treningów</title>
</head>
<body>
    <div style="width: 100%; margin: 0 ; display: flex; justify-content: center;background-color: #1E90FF; color: #fff; font-family: 'Verdana', Verdana;">
        <h1>Lista treningów</h1>
    </div>
    <div style="width: 100%; margin: 0 ; display: flex; justify-content: center;">
        <table style="border-collapse: collapse; width: 100%;">
            <tr>
                <th style="font-size: large ;background-color: #1E90FF ;border: 1px solid #ccc; padding: 5px;text-align: center;">Nazwa Treningu</th>
                <th style="font-size: large ;background-color: #1E90FF ;border: 1px solid #ccc; padding: 5px;text-align: center;">Data Treningu</th>
                <th style="font-size: large ;background-color: #1E90FF ;border: 1px solid #ccc; padding: 5px;text-align: center;">Opis</th>
                <th style="font-size: large ;background-color: #1E90FF ;border: 1px solid #ccc; padding: 5px;text-align: center;">Czas Treningu (min)</th>
                <th style="font-size: large ;background-color: #1E90FF ;border: 1px solid #ccc; padding: 5px;text-align: center;">Użytkownik</th>
            </tr>
            {% for trening in trenings %}
                <tr>
                    <td style="font-size: large ;border: 1px solid #ccc; padding: 5px;text-align: center;">{{ trening.Nazwa_Treningu }}</td>
                    <td style="font-size: large ;border: 1px solid #ccc; padding: 5px;text-align: center;">{{ trening.Data_Treningu }}</td>
                    <td style="font-size: large ;border: 1px solid #ccc; padding: 5px;text-align: center;">{{ trening.Opis|default:"Brak opisu" }}</td>
                    <td style="font-size: large ;border: 1px solid #ccc; padding: 5px;text-align: center;">{{ trening.CzasTreningu }}</td>
                    <td style="font-size: large ;border: 1px solid #ccc; padding: 5px;text-align: center;">{{ trening.User.username|default:"Brak" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
